[Unit]
Description=SAAB Service

[Service]
ExecStart=python3 /usr/local/bin/SaabHeadUnitUpdater/saabUpdate.py
Type=oneshot

User=pi
Environment=DISPLAY=:0

[Install]
WantedBy=graphical.target
