[Unit]
Description=SAAB Service

[Service]
ExecStart=python3 /usr/local/bin/SaabHeadUnit/saab-control/saabCan.py
After=saab_update.service

User=pi
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
