[Unit]
Description=SAAB Service

[Service]
ExecStart=/bin/python3 /home/pi/SaabHeadUnit/saab-control/saabUpdate.py

User=pi
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
